@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --clr-bc-one: hsl(31, 77%, 52%);
  --clr-bc-two: hsl(184, 100%, 22%);
  --clr-bc-three: hsl(179, 100%, 13%);

  --clr-white: hsla(0, 0%, 100%, 0.75);
  --clr-light-gray: hsl(0, 0%, 95%);

  --font-size: 15px;
  --font-size-h1: 30px;

  --font-family-one: "Big Shoulders Display", cursive;
  --font-family-two: "Lexend Deca", sans-serif;

  --font-weight: 400;
  --font-weight-bold: 700;
}

body {
  background: var(--clr-light-gray);
  font-family: var(--font-family-one);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.container {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  min-height: 100%;
}
@media (min-width: 53.75em) {
  .flex {
    flex-direction: row;
  }
}

.card {
  background: var(--clr-bc-one);
  color: var(--clr-white);
  width: 20em;
  padding: 2.5em;
}
.card:nth-of-type(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card:nth-of-type(2) {
  background: var(--clr-bc-two);
  border-radius: none;
}
.card:nth-of-type(3) {
  background: var(--clr-bc-three);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 53.75em) {
  .card:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
  .card:nth-of-type(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

.card h2 {
  color: var(--clr-light-gray);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
}

.card p {
  line-height: 1.8em;
  margin-bottom: 1em;
  font-family: var(--font-family-two);
}
@media (min-width: 53.75em) {
  .card p {
    margin-bottom: 6em;
  }
}
.cta {
  background: var(--clr-light-gray);
  border: none;
  padding: 1em 2em;
  border-radius: 50px;
  min-width: 10em;
  text-transform: capitalize;
  font-family: var(--font-family-two);
}

.cta-one {
  color: var(--clr-bc-one);
}
.cta-two {
  color: var(--clr-bc-two);
}
.cta-three {
  color: var(--clr-bc-three);
}
